:root {
  --formControlBg: #F5F5F5;
  --verticalNavbarBg: #F5F5F5;
  --themeMain:#59A691 ;
  --headerNavbarHighlight:#488675;
}



/* for the table panel */

.table-db{
  margin-top: 20px;
}

.modal-xlg {
    width: 96%; /* respsonsive width */
}

.socialBody {
  background: url(../images/background.jpg) no-repeat center center fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  height:800px;
}

/* flat sidebar navigation */
.nav-sidebar {
  background-color: var(--verticalNavbarBg);
  position: fixed; 
  width:15%;
  height:100%;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: var(--themeMain);
}

.nav-sidebar > li > a:hover ,.nav-sidebar > li >a:focus {
	background-color: var(--themeMain);
	color: #fff;
}

/* flat sidebar navigation on dashboard*/
.nav-sidebarDashboard {
  background-color: var(--verticalNavbarBg);
  position: fixed; 
  width:8%;
  height:100%;
  /*padding-bottom: 20px; */
}
.nav-sidebarDashboard > li > a {
	padding-right: 20px;
	padding-left: 20px;
	color:var(--themeMain);
}
.nav-sidebarDashboard > .active > a {
  color: #fff;
  background-color: var(--themeMain);
}

.nav-sidebarDashboard > li > a:hover, .nav-sidebarDashboard > li >a:focus {
	background-color: var(--themeMain);
	color: #fff;
}


/* for the side panel accordion */

.panel-heading:hover{
	cursor:pointer;
	background-color: var(--themeMain);
	
}

.sidebar-secMenu>li>a:hover{
	background-color: var(--themeMain);
}

.sidebar-secMenu > .active > a {
  color: #fff;
  background-color: var(--themeMain);
}

.form-control{
	background-color:#F5F5F5;
}























/* Custom navbar styles */
.navbar-default {
  background-color: var(--themeMain);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle {
  border-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: var(--headerNavbarHighlight);
  }
}