#logo{
	height: 100%

}

/* for the table panel */

.table-db{
  margin-top: 20px;
}

.modal-xlg {
    width: 96%; /* respsonsive width */
}

body {
    zoom: 50%;
}

.navbar-default {
  background-color: #f2f5f4;
  border-color: #83c4bf;
}
