<!DOCTYPE html>
<html lang="en">
<head>
	<title>Test Pad</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"/>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/myScript.js"></script>
	<link rel="stylesheet" href="css/ngTable.css" media="screen" title="no title" charset="utf-8">

	</script>

</head>

<body>

	<div ng-app="ngTest" ng-controller="myCtrl">

		<!-- Name: <input type="text" ng-model="Name">	Name: {{Name}} -->
		<hr></hr>

		<div class="ngTable col-md-10 col-md-offset-1">
			<div class="row">
				<button ng-click=addRow()  class="btn btn-success" type="button" name="button"><i class="glyphicon glyphicon-plus"> Add</i></button>
			</div>
			<div class="row" style="margin-top:10px;">
				<table class="table table-bordered table-hover">

					<tr class="bg-red">
						<th>ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Company</th>
						<th>Country</th>
						<th>Check</th>
						<th style="text-align:center;">Actions</th>
						<th style="text-align:center;">
							Info
						</th>
					</tr>
					<tr ng-repeat="row in tableData" >
						<td class="{{editorFlags[$index][0].value}}">{{row.id}}</td>
						<td class="{{editorFlags[$index][0].editor}}">
							<input type="text" class="form-control " placeholder="ID" style="width:100%;">
						</td>
						<td class="{{editorFlags[$index][1].value}}">{{row.name}}</td>
						<td class="{{editorFlags[$index][1].editor}}">
							<input type="text" class="form-control" ng-model="editorName[$index]"  style="width:100%;">
						</td>
						<td class="{{editorFlags[$index][2].value}}">{{row.email}}</td>
						<td class="{{editorFlags[$index][2].editor}}">
							<input type="text" class="form-control " ng-model="editorEmail[$index]" style="width:100%;">
						</td>
						<td class="{{editorFlags[$index][3].value}}">{{row.company}}</td>
						<td class="{{editorFlags[$index][3].editor}}">
							<input type="text" class="form-control" ng-model="editorCompany[$index]" style="width:100%;">
						</td>
						<td class="{{editorFlags[$index][4].value}}">{{row.country}}</td>
						<td class="{{editorFlags[$index][4].editor}}" >
							<select class="form-control" ng-options="obj.disp for obj in listOfItems track by obj.val"
								ng-model="dropItem"
								ng-change="gotoPerticular()">
							</select>
						</td>
						<td class="{{editorFlags[$index][5].value}}">{{row.check}}</td>
						<td class="{{editorFlags[$index][5].editor}}">
							<input  type="checkbox">
						</td>

						<td class="{{editorFlags[$index][6].value}}" align="center">
							<i ng-click=editRow($index) class="glyphicon glyphicon-pencil actionIcons"></i>&nbsp;&nbsp;<i ng-click=deleteRow($index) class="glyphicon glyphicon-trash actionIcons"></i>
						</td>
						<td class="{{editorFlags[$index][6].editor}}" align="center">
							<div class="btn-group" >
								<button ng-click=updateTable($index)  type="button" class="btn btn-success" name="button"><i  class="glyphicon glyphicon-ok" ></i></button>
								<button ng-click=calcelEditor($index) type="button" class="btn btn-warning" name="button"><i class="glyphicon glyphicon-remove"></i></button>
							</div>
						</td>

						<td class="{{editorFlags[$index][7].value}}" align="center">
							<button type="button" class="btn btn-info btn-xs" name="button"><i class="glyphicon glyphicon-info-sign"></i></button>
						</td>
						<td class="{{editorFlags[$index][7].editor}}" align="center">
							<button type="button" class="btn btn-info" name="button"><i class="glyphicon glyphicon-info-sign"></i></button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div> <!-- The app closing tag -->
</body
</html>
